@model myapp.Models.Producto
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Registrar producto
    <form asp-controller="Producto" asp-action="Registrar">
    <div>
        <label >Nombre del Producto</label>
        <input asp-for="Nombre" class="form-control" />
    </div>
    <div>
        <label >Cantidad</label>
        <input asp-for="Cantidad" class="form-control" />
    </div>
    <div>
        <label >Precio</label>
        <input asp-for="Precio" class="form-control" />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
<h1>@ViewData["Message"]</h1>
</body>
</html>